@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.post_group .post_group_last_element {
  color: lime;
  border: 5px solid #f3f3f3;
  border-radius: 100px;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.post_group li {
  border: '1px solid red' !important;
  padding: '1rem';
  margin-top: '10px';
  /* borderRadi */
}
